.parallax-container {
    background-image: url('../images/background1.jpg');
}

.parallax-container2 {
    background-image: url('../images/background2.jpg');
    position: relative;
    overflow: hidden;
    height: 500px;
}

.parallax-container3 {
    background-image: url('../images/background3.jpg');
    position: relative;
    overflow: hidden;
    height: 500px;
}

.text2 {
    color: white;
}
.foot {
    background-color: aqua;
}

.font {
    font-family: 'Lobster', cursive;
}